.tooltip {
    position: relative;
    display: inline-block;
    font-weight: normal;
}

.tooltip__content {
    visibility: hidden;
    width: 200px;
    background-color: #000e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    font-family: var(--regular);
}

.tooltip__content--medium {
    width: 300px;
}

.tooltip__content--large {
    width: 400px;
}

.tooltip__content--align-left {
    text-align: left;
}

.tooltip__content::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip__content {
    visibility: visible;
}

/* variations */

.tooltip__content--left {
    left: -225px;
}

.tooltip__content--left::after {
    left: 100%;
    transform: rotate(180deg);
}


/* Icons */

.tooltip__icon {
    height: 23px;
    width: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-info-circle' viewBox='0 0 24 24' stroke-width='2' stroke='%2300e5c7' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cline x1='12' y1='8' x2='12.01' y2='8' /%3E%3Cpolyline points='11 12 12 12 12 16 13 16' /%3E%3C/svg%3E");
}

.tooltip__icon--alert {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-alert-triangle' viewBox='0 0 24 24' stroke-width='2' stroke='%23FFBA08' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 9v2m0 4v.01' /%3E%3Cpath d='M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75' /%3E%3C/svg%3E");
}

.tooltip__icon--success {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-check' viewBox='0 0 24 24' stroke-width='2' stroke='%23136f63' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cpath d='M9 12l2 2l4 -4' /%3E%3C/svg%3E");
}
