.script-block {
    position: relative;
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--secondary-background);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    margin-bottom: 15px;
    width: 270px;
    user-select: none;
}

.script-block__title {
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-family: var(--semiBold);
}

.script-block__button-remove {
    border-radius: 100%;
    background-color: var(--secondary-background);
    height: 20px;
    width: 20px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
    visibility: hidden;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-x' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cpath transform='scale(1.5) translate(-4, -4)' d='M10 10l4 4m0 -4l-4 4' /%3E%3C/svg%3E");
}

.script-block:hover .script-block__button-remove {
    visibility: visible;
}


.script-block__panel--two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    align-items: center;
}

.script-block__panel--three-columns {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 10px;
    align-items: center;
}

.script-block__panel--row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


.script-block__toggle-button {
    border-radius: 10px;
    border: 1px solid var(--greyish-brown);
    box-shadow: 1px 1px rgb(0 0 0 / 4%);
    padding: 5px 7px;
    width: 100%;
    background-color: var(--primary-colour);
    color: var(--white);
    font-family: var(--medium);
    font-size: 1rem;
    cursor: pointer;
}

.script-block__input {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--greyish-brown);
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: var(--white);
    font-size: 1rem;
    border: none;
}

.script-block__input--error {
    border: 1PX SOLID #dd0143;
}

.script-block__icon {
    height: 20px;
    width: 20px;

}
.script-block__icon--right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-right' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='9 6 15 12 9 18' /%3E%3C/svg%3E");
}

.script-block__icon--clickable {
    cursor: pointer;
}

.script-block__info {
    color: var(--grey-300);
}

/* Balance Block */

.balance-block__token {
    width: 70px;
}

.balance-block__comparison {
    width: 50px;
}

/* Frequency Block */

.frequency-block {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
}

.frequency-block__time-unit {
    width: 70px;
}

.frequency-block__amount {
    width: 70px;
    text-align: right;
}

.frequency-block__ticks {
    width: 50%;
    text-align: center;
}

.frequency-block__time-unit {
    width: 35%;
    padding: 5px;
}

.frequency-block__starting-point {
    margin: auto 3px;
}


/* Price Block */

.price-block__value {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}


/* Transfer Block */

.transfer-block__amount {
    text-align: center;
}


/* Repetitions Block */

.repetitions-block__ticks {
    text-align: center;
}

/* ZapOut Block */

.zap-out-block__outcome-radio {
    display: grid;
    grid-template-columns: 22px auto;
}

/* Shared */

.action-block,
.condition-block,
.swap-block,
.transfer-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.balance-block__token-address,
.price-block__token-address {
    width: 35%;
}

.script-block__panel pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.farms-block__protocol,
.farms-block__action {
    width: 50%;
}

.transfer-block__token,
.farms-block__pool,
.dao-block__dao,
.dao-block__action {
    width: 100%;
    box-sizing: border-box;
}

.swap-block__token-from-address,
.swap-block__token-to-address {
    width: 33%;
}

.balance-block__amount {
    width: 100%;
    box-sizing: border-box;
}
.slider-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.slider-container__slider-value {
    text-align: center;
}
