.designer {
    display: grid;
    grid-template-columns: 200px auto;
    column-gap: 25px;
}

/* Choices */

.designer__choices {
    user-select: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.designer__choices-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.designer__choices-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.choice {
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--secondary-background);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 25px;
}

.choice--selected {
    font-weight: bold;
    box-shadow: none;
}

/* Workbench */

.designer__workbench {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 35px;
}

.workbench__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
}

.workbench__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin: auto;
}

.workbench__deploy-button {
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    font-size: 15px;
    cursor: pointer;
    height: fit-content;
    width: 170px;
}

.workbench__deploy-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}


/* Review page link + scripts counter */

.designer__review-link {
    position: absolute;
    right: 100px;
    top: 75px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    width: 90px;
    text-align: center;
    line-height: 15px;
    height: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.designer__review-link--disabled {
    opacity: 00;
    cursor: not-allowed;
}
