.lp-info {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid black;
    font-size: 0.9rem;
}

.lp-info__header {
    display: grid;
    grid-template-columns: auto 90px 25px;
    margin-bottom: 5px;
    align-items: baseline;
}

.lp-info__lp-name {
    text-decoration: underline;
}

.lp-info__lp-address {
    font-size: 0.9rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    color: var(--toastify-color-info);
}

.lp-info__invalid {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}

.lp-info__text {
    margin-top: 5px;
    font-style: italic;
}

.lp-info__loading {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lp-info__loading-icon {
    height: 30px;
    width: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-refresh' viewBox='0 0 24 24' stroke-width='2' stroke='%2300e5c7' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4' /%3E%3Cpath d='M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4' /%3E%3C/svg%3E");
    margin-left: 10px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
