.wallet-connector {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    column-gap: 15px;
    position: relative;
    user-select: none;
}

.wallet-connector__chain {
    height: 30px;
    position: relative;
}

.wallet-connector__chain-image {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.wallet-connector__address {
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 0 10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
}

.wallet-connector__address--unauthenticated {
    cursor: pointer;
    line-height: 17px;
    padding: 0 20px;
}

.wallet-connector__address-notification {
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 4px 9px;
    border-radius: 5px;
    color: white;
    user-select: none;
    line-height: 10px;
    font-size: 0.65rem;
    background-color: #dd0143;
}
