.wallet-connector {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    column-gap: 15px;
}

.wallet-connector__chain {
    height: 30px;
    position: relative;
}

.wallet-connector__chain-image {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
}

.wallet-connector__address {
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.wallet-connector__address--unauthenticated {
    cursor: pointer;
}

.chains-dialog {
    position: absolute;
    background: #efefef;
    padding: 5px;
    border: 1px solid #555;
}

.chains-dialog__chain-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
