.staking__header {
    margin-bottom: 30px;
}

.staking__title {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
}

.staking__switch {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.staking__forms-container {
    position: relative;
}

.staking__buttons-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    column-gap: 15px;
}

.staking__button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    color: var(--white);
    border: none;
    background-color: var(--primary-colour);
    font-family: var(--semiBold);
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.staking__button--small {
    width: 120px;
}

.staking__apy-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.staking__apy {
    font-size: 2.5rem;
}

.staking__reward-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}


.staking__button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.staking__max-balance-button {
    position: absolute;
    user-select: none;
    top: 20px;
    right: 10px;
    font-size: 0.8rem;
    color: #aaa;
    cursor: pointer;
    text-decoration: underline;
}
