.page-title {
    font-size: 3.483rem;
    font-family: var(--medium);
    margin-bottom: 40px;
}

.page-title::after {
    color: var(--blue-green);
    content: ".";
}

.icon--check {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-check' viewBox='0 0 24 24' stroke-width='1.5' stroke='%2300e58d' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cpath d='M9 12l2 2l4 -4' /%3E%3C/svg%3E");
}

.icon--x {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-x' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23ff5353' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cpath d='M10 10l4 4m0 -4l-4 4' /%3E%3C/svg%3E");
}

.icon--waiting {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-x' viewBox='0 0 24 24' stroke-width='1.5' stroke='%233F88C5' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cline x1='12' y1='12' x2='12' y2='12.01' /%3E%3Cline x1='8' y1='12' x2='8' y2='12.01' /%3E%3Cline x1='16' y1='12' x2='16' y2='12.01' /%3E%3C/svg%3E");
}

.icon--question-mark {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-circle-x' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFBA08' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='9' /%3E%3Cg transform='scale(0.7) translate(5 5)' stroke-width='2'%3E%3Cpath d='M8 8a3.5 3 0 0 1 3.5 -3h1a3.5 3 0 0 1 3.5 3a3 3 0 0 1 -2 3a3 4 0 0 0 -2 4' /%3E%3Cline x1='12' y1='19' x2='12' y2='19.01' /%3E%3C/g%3E%3C/svg%3E");
}
