.tooltip {
    position: relative;
    display: inline-block;
    font-weight: normal;
}

.tooltip__content {
    visibility: hidden;
    width: 200px;
    background-color: #000a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    opacity: 80%;
}

.tooltip__text {
    border-radius: 100%;
    background-color: var(--bright-teal);
    height: 23px;
    width: 23px;
    font-family: var(--bold);
    text-align: center;
}

.tooltip__content::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltip__content {
    visibility: visible;
}
