.block-amount {
    display: grid;
    grid-template-columns: 190px 65px;
    justify-content: space-between;
    align-items: center;
}


.block-amount__slider-container {
    display: grid;
    grid-template-columns: 130px 65px auto;
    align-items: center;
}

.block-amount__slider-container input[type=range] {
    width: auto;
}

.block-amount__slider-value {
    text-align: center;
}

.block-amount__input {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--greyish-brown);
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: var(--white);
    font-size: 1rem;
    border: none;
}

.block-amount__percentage-group {
    display: flex;
    align-items: baseline;
}

.block-amount__percentage-input {
    border-radius: 5px;
    padding: 5px;
    background-color: transparent;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: var(--white);
    font-size: 1rem;
    border: none;
    text-align: right;
}

.block-amount__percentage-input:hover {
    background-color: var(--greyish-brown);
}


.block-amount__input:focus {
    outline: none;
}

.block-amount__percentage-input:focus {
    outline: none;
}
