
.profile-notifications {
    margin-top: 20px;
    border-top: 1px solid var(--grey-500);
    padding-top: 10px;
}

.profile-notifications__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-notifications__title {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.profile-notifications__acknowledge-all-button {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-checks' viewBox='0 0 24 24' stroke-width='3' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 12l5 5l10 -10' /%3E%3Cpath d='M2 12l5 5m5 -5l5 -5' /%3E%3C/svg%3E");
}

.profile-notifications__acknowledge-all-button:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-checks' viewBox='0 0 24 24' stroke-width='3' stroke='%2300e5c7' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M7 12l5 5l10 -10' /%3E%3Cpath d='M2 12l5 5m5 -5l5 -5' /%3E%3C/svg%3E");
}

.profile-notifications__none {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-notifications__none-icon {
    height: 40px;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-sun' viewBox='0 0 24 24' stroke-width='2' stroke='%23FFBA08' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='4' /%3E%3Cpath d='M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7' /%3E%3C/svg%3E");
}

.profile-notifications__message {
    font-size: 0.75rem;
}

/* Single Notification */

.notification {
    margin-top: 10px;
    font-size: 0.75rem;
    display: grid;
    grid-template-columns: 20px auto 20px;
    column-gap: 5px;
}

.notification__chain-icon {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.notification__title {
    font-size: 0.85rem;
}

.notification__date {
    color: var(--grey-500);
    font-style: italic;
}

.notification__description {
    margin-top: 5px;
    overflow-wrap: break-word;
}

.notification__check-button {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' viewBox='0 0 24 24' stroke-width='3' stroke='%23ffffff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
}

.notification__check-button:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-check' viewBox='0 0 24 24' stroke-width='3' stroke='%2300e5c7' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 12l5 5l10 -10' /%3E%3C/svg%3E");
}
