
.profile-settings {
    margin-top: 10px;
    border-top: 1px solid var(--grey-500);
    padding-top: 10px;
}

.profile-settings__title {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.profile-settings__row {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
