.transaction-page__layout {
    display: grid;
    grid-template-columns: 50fr 50fr;
    column-gap: 20px;
}


/* Transactions Panel */

.transactions-panel {
    height: 100%;
    display: grid;
    grid-template-rows: auto 40px;
}

.transactions-panel__table {
    width: 100%;
    height: fit-content;
    font-size: 0.9rem;
    font-family: var(--regular);
    margin-bottom: 15px;
}

.transactions-panel__table-head {
    display: table-header-group;
    height: 50px;
    border-bottom: 1px solid var(--white);
}

.transactions-panel__header--left {
    text-align: left;
}

.transactions-panel__separator {
    border: none;
    border-bottom: 1px solid #fff5;
}

/* Transaction Record */

.transaction-record__cell--center {
    text-align: center;
}

.transaction-record__explorer-link {
    color: var(--bright-teal);
}

.transaction-record__description {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.transaction-record__amount {
    border-radius: 20px;
    padding: 1px 10px;
    width: max-content;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 0.85rem;
    column-gap: 5px;
}

.transaction-record__amount--profits {
    background-color: #166165;
}

.transaction-record__amount--costs {
    background-color: #166165;
}

.transaction-record__token-icon {
    height: 17px;
    width: 17px;
    border-radius: 100%;
}

.transactions-panel__pagination-container {
    padding-top: 10px;
}
