/* Add Script page */

.new-script {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}

.new-script__step {
    border-radius: 5px;
    margin: 20px;
    padding: 25px;
    background: var(--secondary-background);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    /* height: fit-content; */
}

.new-script__block-title {
    margin-bottom: 25px;
    font-size: 20px;
    color: var(--primary-colour);
    font-weight: bolder;
}


/* Blocks */

.script-block {
    margin-bottom: 15px;
    width: 270px;
    border-radius: 5px;
    user-select: none;
}

.script-block__accordion {
    cursor: pointer;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.script-block__title {
    line-height: 30px;
    font-weight: bolder;
}

.script-block--selected .script-block__title {
    font-weight: bold;
}

.script-block__panel--row {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin-bottom: 5px;
}

.script-block__field--error {
    border: 2px solid red;
}

.script-block__toggle-button {
    border-radius: 10px;
    border: 1px solid #d9d9da;
    box-shadow: 1px 1px rgb(0 0 0 / 4%);
    padding: 5px 7px;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}


/* Balance Block */

.balance-block__token {
    width: 70px;
}

.balance-block__comparison {
    width: 50px;
}

.balance-block .balance-block__amount {
    width: 45%;
    text-align: center;
}


/* Frequency Block */

.frequency-block__time-unit {
    width: 70px;
}

.frequency-block__amount {
    width: 70px;
    text-align: right;
}

.frequency-block .frequency-block__ticks {
    width: 50%;
    text-align: center;
}

.frequency-block .frequency-block__time-unit {
    width: 35%;
    padding: 5px;
}

.frequency-block .frequency-block__starting-point {
    margin: auto 3px;
}


/* Price Block */

.price-block .price-block__value {
    width: 45%;
    text-align: center;
}


/* Transfer Block */

.transfer-block .transfer-block__token-address {
    width: 40%;
}

.transfer-block .balance-block__amount {
    width: 60%;
    text-align: center;
}


/* Repetitions Block */

.repetitions-block__ticks {
    text-align: center;
}


/* Shared */

.balance-block .balance-block__token-address,
.price-block .price-block__token-address {
    width: 35%;
}

.balance-block .balance-block__comparison,
.price-block .price-block__comparison {
    width: 20%;
}

.script-block__panel pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.farms-block .farms-block__protocol,
.farms-block .farms-block__action {
    width: 50%;
}

.transfer-block .transfer-block__token,
.farms-block .farms-block__pool,
.dao-block .dao-block__dao,
.dao-block .dao-block__action {
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
}

.swap-block .swap-block__token-from-address,
.swap-block .swap-block__token-to-address {
    width: 33%;
}

.swap-block .balance-block__amount {
    width: 34%;
    box-sizing: border-box;
}

.new-script__button {
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    font-size: 15px;
    cursor: pointer;
    height: fit-content;
    margin: auto 70px;
}

.new-script__button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
