.gas-tank__header {
    margin-bottom: 30px;
}

.gas-tank__title {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
}

.gas-tank__switch {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.gas-tank__balance {
    border-radius: 5px;
    margin: 15px 0;
    padding: 5px;
    border: 1px solid #AAA;
    background-color: #FFF;
    cursor: not-allowed;
}


.gas-tank__input {
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border-color: #FFF;
}

.gas-tank__buttons-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    column-gap: 15px;
}

.gas-tank__button {
    width: 100%;
    height: 30px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    font-size: 15px;
    cursor: pointer;
}
