.history__entries-container {
    padding-top: 10px;
}

.history-entry {
    margin-bottom: 10px;
}

.history-entry--selected {}

.history-entry__header {
    display: grid;
    grid-template-columns: 5fr 50fr 30fr;
    cursor: pointer;
}

.history-entry__date {
    text-align: end;
}

.history-entry__body {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
