.my-page__layout {
    display: grid;
    grid-template-columns: 65fr 35fr;
    column-gap: 20px;
}

.my-page__right-panel {
    display: grid;
    row-gap: 20px;
}

.add-new-script-button {
    width: 140px;
    text-align: center;
    font-size: 1rem;
    line-height: 22px;
    height: 22px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.scripts-container {
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
}

.script {
    position: relative;
    width: 250px;
    margin: 15px;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.95rem;
    font-family: var(--medium);
    color: var(--white);
    background-color: var(--greyish-brown);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

.script__verification-state {
    color: var(--bright-teal);
    text-transform: uppercase;
}

.script__execution-costs {
    margin-top: 15px;
    font-family: var(--regular);
    font-size: 0.9rem;
}

.script__execution-costs-table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.script__actions {
    margin-top: 15px;
    justify-items: center;
}

.script__button {
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: var(--white);
    border: none;
    background-color: var(--primary-colour);
    font-family: var(--semiBold);
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.script__button:hover {
    opacity: 0.8;
}

.script__bubble-button {
    position: absolute;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: -12px;
    line-height: 17px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--secondary-background);
    cursor: pointer;
    background: var(--greyish-brown);
    font-family: var(--semiBold);
    font-size: 1rem;
    color: var(--white);
}

.script__bubble-button--revoke {
    left: -12px;
}

.script__bubble-button--action {
    right: -12px;
}

.history {
    height: 100%;
}
