.setup {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.setup__line {
    display: grid;
    grid-template-columns: 40fr 60fr;
    align-items: center;
    column-gap: 10px;
}

.setup__text {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.setup__input {
    width: 100%;
}

.setup__error {
    font-size: 0.8rem;
}

.setup__wallet {
    margin-top: 20px;
}

.setup__button {
    min-width: 140px;
    max-width: max-content;
    text-align: center;
    font-size: 0.9rem;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    cursor: pointer;
    height: 30px;
}

.setup__button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.setup__button--submit {
    margin-left: auto;
    margin-top: 15px;
    font-size: 2rem;
    height: auto;
    line-height: normal;
}

.setup__link {
    color: var(--bright-teal);
}


/* Chain Button */

.chain-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid grey;
    width: min-content;
    white-space: nowrap;
}

.chain-button__icon {
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

.chain-button__name {}
