.execute-page__layout {
    display: grid;
    grid-template-columns: 50fr 50fr;
    column-gap: 20px;
}

.execute-page__left-panel {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
