/* Token Balances Component */

.token-balances {
    user-select: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--greyish-brown);
    box-shadow: 5px 5px 15px 0 var(--grey-800);
}

.token-balances__header {
    margin-bottom: 10px;
}

.token-balances__tokens-list {
    display: flex;
    flex-direction: column;
}

.token-balances__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token-balances__empty-icon {
    height: 40px;
    width: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-wind' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFBA08' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M5 8h8.5a2.5 2.5 0 1 0 -2.34 -3.24' /%3E%3Cpath d='M3 12h15.5a2.5 2.5 0 1 1 -2.34 3.24' /%3E%3Cpath d='M4 16h5.5a2.5 2.5 0 1 1 -2.34 3.24' /%3E%3C/svg%3E");
    margin-bottom: 3px;
}

.token-balances__empty-text {
    font-size: 0.75rem;
}

/* Token With Balance */

.token-with-balance {
    display: grid;
    padding: 3px 0px;
    grid-template-columns: 30px 80px auto;
    align-items: center;
    column-gap: 5px;
}

.token-with-balance__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.token-with-balance__name {
    font-size: 1rem;
}

.token-with-balance__balance {
    font-size: 1rem;
    color: var(--grey-400);
}
