.dashboard-page__layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}


/* Treasury stats */

.treasury-stats {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    height: 80%;
    padding: 4%;
}

.treasury-stats__group {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.treasury-stats__title {
    font-size: 1.3rem;
}

.treasury-stats__value {
    width: 230px;
    height: 17px;
    line-height: 17px;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--greyish-brown);
    margin-left: auto;
    font-family: var(--semiBold);
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    justify-content: flex-end;
}
