/* Token Balances Component */

.mm-balances {
    user-select: none;
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--greyish-brown);
    box-shadow: 5px 5px 15px 0 var(--grey-800);
}

.mm-balances__header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.mm-balances__subsection {
    margin-top: 10px;
}

.mm-balances__health-factor {
    font-size: 0.9rem;
}

.mm-balances__tokens-list {
    display: flex;
    flex-direction: column;
}

.mm-balances__empty {
    font-size: 0.75rem;
}


/* Token With Balance */

.token-with-balance {
    display: grid;
    padding: 3px 0px;
    grid-template-columns: 30px 80px auto;
    align-items: center;
    column-gap: 5px;
}

.token-with-balance__img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.token-with-balance__name {
    font-size: 1rem;
}

.token-with-balance__balance {
    font-size: 1rem;
    color: var(--grey-400);
}
