.mm-base-info {
    margin-top: 20px;
    padding: 5px;
    border: 1px solid black;
    font-size: 0.9rem;
}

.mm-base-info__text {
    margin-bottom: 5px;
}

.mm-base-info__separator {
    padding: 5px;
}

.mm-base-info__token {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    font-size: 1rem;
}

.mm-base-info__token-img {
    height: 25px;
    width: 25px;
}

.mm-base-info__token-balance {
    color: var(--grey-400);
}
