.scripts-container {
    padding: 25px;
    display: flex;
    flex-flow: row wrap;
}

.script {
    position: relative;
    width: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

.script__actions {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
}

.script__button {
    width: 66px;
    height: 30px;
}

.script__info-button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    height: 17px;
    width: 17px;
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
}
