body {
    background-color: var(--body-background);
    color: var(--white);
    font-family: var(--regular);
    margin: 0;
}


/* Hide arrows in number inputs for Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Hide arrows in number inputs for Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

input,
select {
    border-radius: 10px;
    border: 1px solid #d9d9da;
    box-shadow: 1px 1px rgb(0 0 0 / 4%);
    padding: 5px 7px;
}

input[type=range] {
    border-radius: 0;
    border: none;
    height: 26px;
    width: 155px;
    box-shadow: none;
    padding: 0;
}

.header {
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--black);
    box-shadow: 0px 1px 10px 1px #000;
}

.page {
    padding: 40px 80px;
}

.page-logo {
    height: 30px;
    margin-right: 10px;
}

.page-logo__beta-sign {
    color: var(--dark-red);
    font-size: 1.5rem;
    font-family: var(--bold);
    transform: rotate(22deg);
    border: 3px solid var(--dark-red);
    border-style: groove;
    padding: 2px;
    position: absolute;
    left: 258px;
    top: 11px;
}

.menu {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    column-gap: 20px;
}

.menu__entry {
    color: var(--white);
    margin: 10px;
    text-decoration: none;
}

.menu__entry:visited {
    color: var(--white);
    text-decoration: none;
}

.menu__entry:hover {
    cursor: pointer;
}

.menu__entry--unselected {
    opacity: 0.7;
}

.menu__entry--selected {
    opacity: 1;
    border-bottom: 2px solid var(--primary-colour);
}

.menu__entry--tip {
    margin-left: auto;
}

.menu__entry--tip:hover {
    text-decoration: none;
    cursor: auto;
}

.menu__entry--gas:hover {
    text-decoration: none;
    cursor: auto;
}

.header-indicator {
    opacity: 1;
    background-color: var(--greyish-brown);
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.wallet-control {
    margin-left: 20px;
    text-align: right;
}

.wallet-control__connect-bt {
    border-radius: 5px;
    padding: 5px;
    background: var(--greyish-brown);
    font-size: 16px;
}

.wallet-control__connect-bt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wallet-control__wrong-network-msg {
    font-size: 13px;
    color: #a66;
}


/* Scrollbar */


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #00000015;
}

::-webkit-scrollbar-thumb {
    background: var(--lighter-grey);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A9A7A9;
}


/* Temporary */

.beta-tester-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 75px;
    width: 75px;
    background-color: var(--primary-colour);
    border-radius: 100%;
    display:flex;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px 0 var(--body-background);
}

.beta-tester-button__icon {
    height: 55px;
    width: 55px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cscript%3E%3C/script%3E%3Cg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m242.499 21.123c-95.74 6.915-171.266 86.771-171.266 184.273v29.832h342.531c0-22.626 0-20.565 0-29.832.001-97.502-75.525-177.358-171.265-184.273z' fill='%23fdb441' data-original='%23fdb441' class=''%3E%3C/path%3E%3C/g%3E%3Cpath d='m242.499 21.123c95.74 6.915 171.266 86.771 171.266 184.273v29.832h27.002c0-22.626 0-20.565 0-29.832 0-106.885-90.617-192.047-198.268-184.273z' fill='%23fea613' data-original='%23fea613'%3E%3C/path%3E%3Cpath d='m130.381 257.621h-42.793c-31.432 0-56.913 25.481-56.913 56.913v.35c0 31.432 25.481 56.913 56.913 56.913h42.793z' fill='%23ffa78f' data-original='%23ffa78f'%3E%3C/path%3E%3Cpath d='m424.412 257.621h-42.794v114.175h42.794c31.432 0 56.913-25.481 56.913-56.913v-.35c0-31.431-25.48-56.912-56.913-56.912z' fill='%23ffa78f' data-original='%23ffa78f'%3E%3C/path%3E%3Cpath d='m106.45 268.808-18.447 9.584-.033-.032c-.178 4.568-.13.8-.13 66.026 0 88.23 68.173 160.533 154.717 167.119 23.647-1.216 33.756-2.657 57.736-11.309 24.791-8.944 46.869-24.107 64.115-44.036 24.192-27.955 37.507-63.688 37.507-100.658 0-13.573 0-76.979 0-86.694-9.621 0-271.278 0-295.465 0z' fill='%23ffcebf' data-original='%23ffcebf' class=''%3E%3C/path%3E%3Cg%3E%3Cpath d='m256 438.47c-23.992 0-43.512-19.519-43.512-43.512 0-4.302 3.487-7.789 7.789-7.789s7.789 3.487 7.789 7.789c0 15.403 12.531 27.934 27.934 27.934s27.934-12.531 27.934-27.934c0-4.302 3.487-7.789 7.789-7.789s7.789 3.487 7.789 7.789c0 23.993-19.52 43.512-43.512 43.512z' fill='%23ffa799' data-original='%23ffa799'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='m173.896 350.168c-4.302 0-7.789-3.487-7.789-7.789v-30.975c0-4.302 3.487-7.789 7.789-7.789s7.789 3.487 7.789 7.789v30.975c0 4.302-3.487 7.789-7.789 7.789z' fill='%235a5a5a' data-original='%235a5a5a'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath d='m338.104 350.168c-4.302 0-7.789-3.487-7.789-7.789v-30.975c0-4.302 3.487-7.789 7.789-7.789s7.789 3.487 7.789 7.789v30.975c0 4.302-3.487 7.789-7.789 7.789z' fill='%235a5a5a' data-original='%235a5a5a'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath d='m369.873 396.516h-31.768c-5.162 0-9.347-4.185-9.347-9.347s4.185-9.347 9.347-9.347h31.768c5.162 0 9.347 4.185 9.347 9.347-.001 5.162-4.185 9.347-9.347 9.347z' fill='%23fe8f83' data-original='%23fe8f83'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Cpath d='m173.896 396.516h-31.768c-5.162 0-9.347-4.185-9.347-9.347s4.185-9.347 9.347-9.347h31.768c5.162 0 9.347 4.185 9.347 9.347s-4.185 9.347-9.347 9.347z' fill='%23fe8f83' data-original='%23fe8f83'%3E%3C/path%3E%3C/g%3E%3Cpath d='m397.206 344.386c0 88.219-68.155 160.52-154.683 167.122 4.268.326 8.58.492 12.931.492h1.141c92.57 0 167.614-75.043 167.614-167.614v-59.413c0-17.321-2.628-34.027-7.506-49.745-2.883 0-318.476 0-321.345 0-4.257 13.716-6.775 28.19-7.354 43.164h309.203c.003 34.219-.001 23.151-.001 65.994z' fill='%23ffb09e' data-original='%23ffb09e' class=''%3E%3C/path%3E%3Cpath d='m413.765 210.303h-342.532c-13.067 0-23.659 10.593-23.659 23.659 0 13.066 10.592 23.659 23.659 23.659h342.532c11.746 0 19.372-2.24 27.002-4.154 0-20.917 0-18.093 0-39.01-7.553-1.894-15.215-4.154-27.002-4.154z' fill='%23fec165' data-original='%23fec165' class=''%3E%3C/path%3E%3Cpath d='m440.767 210.303h-27.002c13.059 0 23.659 10.585 23.659 23.659 0 13.066-10.593 23.659-23.659 23.659h27.002c13.067 0 23.659-10.592 23.659-23.659v-.001c0-13.065-10.593-23.658-23.659-23.658z' fill='%23fdb441' data-original='%23fdb441' class=''%3E%3C/path%3E%3Cpath d='m131.351 52.117-.8.034c-7.04 3.9-9.659 12.131-6.813 19.103l35.95 88.066c1.321 3.237 3.696 5.906 6.816 7.594l2.801-.862c7.7-2.371 11.666-10.876 8.531-18.298l-38.002-90.257c-1.428-3.389-4.81-5.534-8.483-5.38z' fill='%23fec165' data-original='%23fec165' class=''%3E%3C/path%3E%3Cpath d='m370.597 53.618-3.688-1.468c-3.24 1.848-5.48 4.349-6.81 7.607l-35.769 87.623c-2.987 7.316-.15 15.832 6.628 19.547l2.511-.551c4.059-.89 7.424-3.712 9.009-7.553l35.865-86.898c2.97-7.194-.514-15.429-7.746-18.307z' fill='%23fec165' data-original='%23fec165' class=''%3E%3C/path%3E%3Cpath d='m187.69 147.432-35.79-87.674c-3.175-7.777-12.053-11.508-19.829-8.333-.527.215-1.031.461-1.52.726 2.974 1.617 5.431 4.229 6.81 7.607l35.79 87.674c2.964 7.261.198 15.762-6.647 19.482 12.586 6.843 26.743-5.87 21.186-19.482z' fill='%23f6ab31' data-original='%23f6ab31'%3E%3C/path%3E%3Cpath d='m379.929 51.424c-4.399-1.796-9.148-1.379-13.02.726 6.727 3.651 9.773 11.853 6.813 19.103l-35.95 88.066c-1.379 3.38-3.839 5.99-6.814 7.607.445.243.906.468 1.384.668 7.809 3.277 16.776-.451 19.969-8.275l35.95-88.066c3.176-7.776-.555-16.654-8.332-19.829z' fill='%23f6ab31' data-original='%23f6ab31'%3E%3C/path%3E%3Cpath d='m212.809 4.482c-4.712.992-7.912 5.383-7.391 10.17.257 2.36 13.128 120.609 12.872 118.258 1.826 16.78 14.415 30.01 30.442 33.127 10.259-1.999 17.918-3.73 24.853-11.072 4.68-4.955 7.606-11.307 8.332-18.084l12.609-117.754c.754-7.039-3.994-13.503-10.943-14.858-25.383-4.95-42.858-5.665-70.774.213z' fill='%23fec165' data-original='%23fec165' class=''%3E%3C/path%3E%3Cpath d='m299.191 4.482c-17.553-3.695-35.563-5.119-53.585-4.222 11.188.55 22.15 1.977 32.814 4.222 4.712.992 7.912 5.383 7.391 10.17l-12.871 118.258c-1.706 15.673-12.801 28.251-27.317 32.381 1.02.29 2.056.541 3.108.745 21.752 4.23 42.571-10.994 44.98-33.127l12.872-118.259c.52-4.785-2.681-9.176-7.392-10.168z' fill='%23f6ab31' data-original='%23f6ab31'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    z-index: 99;
}

.beta-tester-button__content {
    /* display: none; */
    position: absolute;
    width: 0px;
    background-color: var(--primary-colour);
    color: var(--primary-colour);
    z-index: 1;
    font-size: 0.85rem;
    right: 0;
    padding: 5px 80px 5px 25px;
    padding-right: 50px;
    border-radius: 35px;
    height: 65px;
    overflow: hidden;
    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}

.beta-tester-button:hover {
    box-shadow: none;
}

.beta-tester-button:hover .beta-tester-button__content {
    color: var(--white);
    width: 500px;
    padding-right: 80px;
    box-shadow: 5px 5px 5px 0 var(--body-background);
}
