@font-face {
    font-family: DMSans;
    src: url('./assets/DMSans-Regular.ttf');
}

body {
    color: rgb(48, 48, 48);
    font-family: DMSans;
}

/* Hide arrows in number inputs for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in number inputs for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-logo {
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu__entry {
    margin: 10px;
    text-decoration: none;
}

.menu__entry:visited {
    color: inherit;
    text-decoration: none;
}

.menu__entry:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu__entry--selected {
    text-decoration: underline;
}

.menu__entry--gas {
    margin-left: auto;
}

.menu__entry--gas:hover {
    text-decoration: none;
    cursor: auto;
}

.wallet-control {
    margin-left: 20px;
    text-align: right;
}

.wallet-control__connect-bt {
    border-radius: 5px;
    padding: 5px;
    background: transparent;
    font-size: 16px;
    font-family: DMSans;
}

.wallet-control__connect-bt:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wallet-control__wrong-network-msg {
    font-size: 13px;
    color: #a66;
}
