:root {
    --body-background: #efefef;
    --secondary-background: #f4f4f4;
    --primary-colour: #206f63;

    /* Toasts */
    --toastify-color-success: #1B9D51;
    --toastify-color-warning: #FFBA08;
    --toastify-color-error: #dd0143;
    --toastify-color-info: #3F88C5;
}
