.block-amount {
    display: grid;
    grid-template-columns: 190px 65px;
    justify-content: space-between;
    align-items: center;
}


.block-amount__slider-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.block-amount__slider-value {
    text-align: center;
}

.block-amount__input {
    border-radius: 5px;
    padding: 5px;
    background-color: var(--greyish-brown);
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: var(--white);
    font-size: 1rem;
    border: none;
}

.block-amount__input:focus {
    outline: none;
}
