.token-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

.token-address {
    border: solid 1px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1.5;
    position: relative;
    padding: 3px;
}

.tokens-modal__search input {
    width: 100%;
    box-sizing: border-box;
}

.tokens-modal__item {
    display: flex;
    padding: 10px 0px;
    cursor: pointer;
    align-items: center;
}

.tokens-modal__list {
    max-height: 70vh;
    overflow-y: auto;
    margin: 20px 0;
}
