/* Chosen Token component */

.chosen-token {
    border: solid 0.5px var(--lighter-grey);
    font-family: var(--medium);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    line-height: 1.5;
    position: relative;
    padding: 3px;
    height: 28px;
}

.chosen-token__token-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

.chosen-token__missing-img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    border: solid 1px;
    line-height: 1.7rem;
    font-size: 1rem;
}

.chosen-token__missing-img::after {
    content: "?";
}

.chosen-token__arrow-down {
    border: solid var(--white);
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    right: 10px;
    position: absolute;
    bottom: auto;
    margin-bottom: 3px;
}

/* Modal */

.tokens-modal__item {
    display: flex;
    padding: 10px 0px;
    cursor: pointer;
    align-items: center;
}

.tokens-modal__list {
    max-height: 70vh;
    overflow-y: auto;
    margin: 5px 0;
}


.tokens-modal__token-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.tokens-modal__symbol {
    font-size: 1.1rem;
}

.tokens-modal__address {
    font-size: 0.7rem;
    color: var(--grey-400);
    font-family: monospace;
}
