.pagination {
  display: flex;
  justify-content: center;
  user-select: none;
}

.pagination__item {
  height: 25px;
  width: 25px;
  margin: auto 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 0.82rem;
  cursor: pointer;
}

.pagination__item:hover {
  background-color: var(--grey-600);
}

.pagination__item--active {
  cursor: unset;
  border-radius: 4px;
  background-color: var(--grey-600);
}

.pagination__arrow {
  background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='v1vy6fsuua' d='m16 17.09-4.58-4.59L16 7.91 14.59 6.5l-6 6 6 6z'/%3E%3C/defs%3E%3Cg transform='matrix(-1 0 0 1 24.59 0)' fill='none' fill-rule='evenodd'%3E%3Cmask id='zw1nvhjngb' fill='%23fff'%3E%3Cuse xlink:href='%23v1vy6fsuua'/%3E%3C/mask%3E%3Cg mask='url(%23zw1nvhjngb)' fill='%2300e5c7'%3E%3Cpath d='M-12.41-13h50v50h-50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.pagination__item--disabled {
  /* background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 25 25' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='v1vy6fsuua' d='m16 17.09-4.58-4.59L16 7.91 14.59 6.5l-6 6 6 6z'/%3E%3C/defs%3E%3Cg transform='matrix(-1 0 0 1 24.59 0)' fill='none' fill-rule='evenodd'%3E%3Cmask id='zw1nvhjngb' fill='%23fff'%3E%3Cuse xlink:href='%23v1vy6fsuua'/%3E%3C/mask%3E%3Cg mask='url(%23zw1nvhjngb)' fill='%23777777'%3E%3Cpath d='M-12.41-13h50v50h-50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"); */
  opacity: 0.3;
  cursor: unset;
}

.pagination__item--disabled:hover {
  background-color: transparent;
}

.pagination__arrow--reversed {
  transform: rotate(180deg);
}

.pagination__placeholder {
  height: 25px;
  width: 25px;
  margin: auto 5px;
}
