.designer {
    display: flex;
    column-gap: 25px;
    justify-content: space-between;
}

/* Choices */

.designer__choices {
    user-select: none;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.designer__choices-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.designer__choices-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.choice {
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--greyish-brown);
    box-shadow: 5px 5px 15px 0 var(--grey-800);
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 25px;
}

.choice--selected {
    font-weight: bold;
    box-shadow: none;
}

/* Workbench */

.designer__workbench {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    min-width: 50%;
}

.workbench__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    column-gap: 10px;
}

.workbench__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    margin: auto;
}

.workbench__deploy-button {
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    font-size: 15px;
    cursor: pointer;
    height: fit-content;
    width: 170px;
}

.workbench__deploy-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}


/* Review page link + scripts counter */

.designer__review-link {
    position: absolute;
    right: 0;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    text-align: center;
    line-height: 15px;
    height: 15px;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    cursor: pointer;
    margin-left: auto;
    text-decoration: none;
}

.designer__review-link--disabled {
    display: none;
}

/* Wallet State */

.wallet-state {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.wallet-state__reload-bt {
    height: 25px;
    width: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-refresh' viewBox='0 0 24 24' stroke-width='2' stroke='%2300e5c7' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4' /%3E%3Cpath d='M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4' /%3E%3C/svg%3E");
    margin-left: 10px;
    cursor: pointer;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wallet-state__reload-bt--loading {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    cursor: auto;
}

.retractable-card {
    width: 280px;
    position: relative;
}

.retractable-card__button {
    position: absolute;
    height: 50px;
    width: 15px;
    left: -5px;
    top: 5px;
    background: var(--secondary-background);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.retractable-card--retracted {
    width: 10px;
}

.retractable-card--retracted .card {
    display: none;
}

.retractable-card__button-icon {
    height: 13px;
    width: 13px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97 97' xml:space='preserve'%0Atransform='rotate(90)'%3E%3Cpath fill='%23FFBA08' d='M0.561,20.971l45.951,57.605c0.76,0.951,2.367,0.951,3.127,0l45.956-57.609c0.547-0.689,0.709-1.716,0.414-2.61 c-0.061-0.187-0.129-0.33-0.186-0.437c-0.351-0.65-1.025-1.056-1.765-1.056H2.093c-0.736,0-1.414,0.405-1.762,1.056 c-0.059,0.109-0.127,0.253-0.184,0.426C-0.15,19.251,0.011,20.28,0.561,20.971z'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

.retractable-card__button-icon--retracted {
    transform: rotate(0);
}
