.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
}

.review__scripts {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
}


.review__deploy-button {
    padding: 8px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: var(--primary-colour);
    font-size: 15px;
    cursor: pointer;
    height: fit-content;
    width: 170px;
    margin: auto;
}

.review__deploy-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/* Temporary script */

.temporary-script {
    white-space: pre-wrap;
    position: relative;
    border-radius: 5px;
    padding: 10px 15px;
    background: var(--secondary-background);
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
    width: 270px;
}

.temporary-script:not(:last-child):after {
    content: '';
    background: black;
    width: 1px;
    height: 20px;
    position: absolute;
    right: 50%;
    bottom: -20px;
}

.temporary-script:not(:last-child):before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -30px;
    right: 50%;
    border-style: solid;
    border-width: 0 5px 15px 5px ;
    border-color: transparent transparent black transparent;
    transform: translateX(50%) rotate(180deg);
}
